<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="color: #fff;">{{restaurant.restaurantName}}</mat-card-title>
      <mat-card-subtitle>{{restaurant.companyName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <ul>
        <li *ngFor="let cuisine of restaurant.cuisine">{{cuisine}}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>