/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
body.mat-typography {
    margin: 0;
}
.mb-30 {
    margin-bottom: 30px;
}
.my-dflex {
    display: flex;
    justify-content: space-between;
    background-color: red;
}